# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/.idea/*
*.iml
*/target/*
.idea
paravec
/src/src/main/resources/GoogleNews-vectors-negative300.bin.gz
/src/src/main/resources/glove.6B.300d.txt
/src/src/main/resources/glove.6B.50d.txt
/src/src/main/resources/labeled_data.txt
/src/src/main/resources/supervised.model.bin
/src/src/main/resources/unlabeled_data.txt

src/frontier/
frontier
